@font-face {
	font-family: 'Insanibu';
	src: url('fonts/insanibu.eot'); /* IE9+ Compat Modes */
	src: url('fonts/insanibu.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/insanibu.woff2') format('woff2'), /* Super modern browsers */
		 url('fonts/insanibu.woff') format('woff'), /* Modern browsers */
		 url('fonts/insanibu.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('fonts/insanibu.svg#insanibu') format('svg'); /* Legacy iOS */
}

body {
	background: linear-gradient(90deg, #0070ab 50%, #213461 50%), #ccc;
	background-size: 200px auto;
}
.container-wide {
	--grid-maxWidth: 180rem;
	margin-top: 20px !important;
}
body.foot {
	background: linear-gradient(90deg, #00ab17 50%, #286121 50%), #ccc;
	background-size: 200px auto;
}
h1 {
	font-family: "Insanibu";
	color: #8fab25;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	text-align: center;
	font-weight: normal;
}
.banner {
	width: 461px;
	height: 253px;
	background: url("../images/banner.png") no-repeat;
	background-position: center;
	display: inline-block;
}
.banner:hover {
	background: url("../images/banner.gif") no-repeat;
	background-position: center;
}
.edito {
	background-color: white;
	border-radius: 20px;
	padding: 15px;
	max-width: 80%;
}
.sites {
	padding-bottom: 100px;
}
.content-no-banner {
	padding-top: 60px !important;
}
.sites a {
	text-decoration: inherit;
	color: inherit;
	align-items: center;
	display: flex;
	flex: auto;
}
.site-select {
	opacity: .9;
	background-color: white;
	padding: 2%;
}
.site-select.site-select-enabled{
	opacity: 1;
}
.site-select:hover {
	opacity: 1;
	cursor: pointer;
}
.site-select-tl {
	border-radius: 20px 20px 0px 20px;
}
.site-select-tr {
	border-radius: 20px 20px 20px 0px;
}
.site-select-ml {
	border-radius: 20px 0px 0px 20px;
}
.site-select-mr {
	border-radius: 0px 20px 20px 0px;
}
.site-select-bl {
	border-radius: 20px 0px 20px 20px;
}
.site-select-br {
	border-radius: 0px 20px 20px 20px;
}
/* .site-select-br:hover {
	opacity: .8;
	cursor: not-allowed;
} */
.site-select-disabled {
	opacity: .8 !important;
	cursor: not-allowed !important;
}
.site-select img {
	margin: 5%;
	max-width: 100px;
}
.site-select-bonus {
	opacity: 1;
	border-radius: 20px;
}
.site-select-bonus img{
	margin: 0;
	margin-right: 30px;
	max-width: 60px;
}
.ruffle-content > ruffle-player{
	display: block;
	margin: auto;
  	margin-bottom: auto;
	margin-bottom: 40px;
	margin-top: 60px;
}
#backbutton {
	background-color: white;
	border-radius: 20px;
	position: fixed;
	top: 10px;
	left: 10px;
}
#backbutton > a{
	width: 100%;
	height: 100%;
	padding: 15px;
}
.stickerbook-image {
	max-height: none !important;
	max-width: none !important;
	height: 100%;
	width: auto;
}
.stickerbook > a{
	display: flex;
   align-items:center;
}

.foot .site-select img {
	max-width: 300px;
	margin: auto;
}

#playTip {
	background-color: white;
	border-radius: 20px;
	position: fixed;
	top: 100px;
	left: 10px;
	max-width: 300px;
}

.sticker-gallery-card {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	height: 300px;
}
.sticker-gallery-card-img > a > img {
	max-height: 220px;
	margin: auto;
	display: block;
}
.sticker-gallery-card-tags {
	padding-top: 5px;
}